In [1]:
# dependencies and setup
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [2]:
# load NYC yellow taxi data
city_data_201801 = pd.read_csv("201801-citibike-tripdata.csv")
city_data_201802 = pd.read_csv("201802-citibike-tripdata.csv")
city_data_201803 = pd.read_csv("201803-citibike-tripdata.csv")
city_data_201804 = pd.read_csv("201804-citibike-tripdata.csv")
city_data_201805 = pd.read_csv("201805-citibike-tripdata.csv")
city_data_201806 = pd.read_csv("201806-citibike-tripdata.csv")
city_data_201807 = pd.read_csv("201807-citibike-tripdata.csv")
city_data_201808 = pd.read_csv("201808-citibike-tripdata.csv")
city_data_201809 = pd.read_csv("201809-citibike-tripdata.csv")
city_data_201810 = pd.read_csv("201810-citibike-tripdata.csv")
city_data_201811 = pd.read_csv("201811-citibike-tripdata.csv")
city_data_201812 = pd.read_csv("201812-citibike-tripdata.csv")

In [3]:

city_data_2018 = city_data_201801.append(city_data_201802, ignore_index=True).append(city_data_201803, ignore_index=True).append(city_data_201804, ignore_index=True)\
.append(city_data_201805, ignore_index=True).append(city_data_201806, ignore_index=True).append(city_data_201807, ignore_index=True)\
.append(city_data_201808, ignore_index=True).append(city_data_201809, ignore_index=True).append(city_data_201810, ignore_index=True)\
.append(city_data_201811, ignore_index=True).append(city_data_201812, ignore_index=True)

In [4]:
len(city_data_2018)

17548339

In [5]:
city_data_2018.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1

In [6]:
city_data_2018_df=city_data_2018.loc[city_data_2018['birth year']>1930]
len(city_data_2018_df)

17534405

In [7]:
city_data_201901 = pd.read_csv("201901-citibike-tripdata.csv")
city_data_201902 = pd.read_csv("201902-citibike-tripdata.csv")
city_data_201903 = pd.read_csv("201903-citibike-tripdata.csv")
city_data_201904 = pd.read_csv("201904-citibike-tripdata.csv")
city_data_201905 = pd.read_csv("201905-citibike-tripdata.csv")
city_data_201906 = pd.read_csv("201906-citibike-tripdata.csv")
city_data_201907 = pd.read_csv("201907-citibike-tripdata.csv")
city_data_201909 = pd.read_csv("201909-citibike-tripdata.csv")
city_data_201909 = pd.read_csv("201909-citibike-tripdata.csv")
city_data_201910 = pd.read_csv("201910-citibike-tripdata.csv")
city_data_201911 = pd.read_csv("201911-citibike-tripdata.csv")
city_data_201912 = pd.read_csv("201912-citibike-tripdata.csv")

In [8]:
city_data_2019 = city_data_201901.append(city_data_201902, ignore_index=True).append(city_data_201903, ignore_index=True).append(city_data_201904, ignore_index=True)\
.append(city_data_201905, ignore_index=True).append(city_data_201906, ignore_index=True).append(city_data_201907, ignore_index=True)\
.append(city_data_201909, ignore_index=True).append(city_data_201909, ignore_index=True).append(city_data_201910, ignore_index=True)\
.append(city_data_201911, ignore_index=True).append(city_data_201912, ignore_index=True)

In [9]:
city_data_2019_df=city_data_2019.loc[city_data_2019['birth year']>1930]
len(city_data_2019_df)

20639970

In [10]:
city_data_full = city_data_2018_df.append(city_data_2019_df, ignore_index=True)
city_data = city_data_full.dropna()
len(city_data_full)

38174375

In [11]:
city_data.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id           False
start station name         False
start station latitude     False
start station longitude    False
end station id             False
end station name           False
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [12]:
city_data['Gender'] = city_data['gender'].replace([0,1,2],['unknown',"Male","Female"])
city_data = city_data.drop('gender',1)

In [13]:
len(city_data)

38171787

In [14]:
city_data.to_csv("citibike_2018_2019.csv")